<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BitsLab</title>
    <link rel="stylesheet" href="/stylesheets/problem_templatestyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aldrich&family=Orbitron:wght@400..900&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
        <script type="text/x-mathjax-config">
            MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
          </script>
          <script type="text/javascript"
            src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
          </script>
      </div>
</head>

<body>
    <div class="bigdiv">
        <nav>
            <h2 class="logo"><a href="/">BitsLab<a></h2>
            <ul>
                <li><a href="/probleme">Probleme</a></li>
                <li><a href="#">Concursuri</a></li>
                {{if .username}}
                <li><a href="/logouthandle">Log Out</a></li>
                <li><a href="/user">{{.username}}</a></li>
                {{else}}
                <li><a href="/sign_up">Sign Up</a></li>
                <li><a href="/login">Login</a></li>
                {{end}}
            </ul>
        </nav>
        <div id = "problemid">
            <p>{{.problemid}}&nbsp;-&nbsp;</p>
            <p>{{.name}}</p>
        </div>
        <div id = "statpbrinfo">
            <div id = "statement">
                {{.task_description}}
            </div>
            <div id = "probleminfo">
                <p>Limita de timp(S)&nbsp;:&nbsp;{{.time_limit}}<br><br>Limita de memorie(MB)&nbsp;:&nbsp;{{.memory_limit}}<br><br>Dificultate&nbsp;:&nbsp;{{.difficulty}}</p>
            </div>
        </div>
    </div>
    <script>
        function update_mathjax(){
            MathJax.Hub.Queue(['Typeset',MathJax.Hub,'output']);
        }
        window.onload = function() {
            update_mathjax()
        };        
        </script>
</body>

</html>