<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BitsLab</title>
    <link rel="stylesheet" href="/stylesheets/log-instyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aldrich&family=Orbitron:wght@400..900&display=swap"
        rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <div class="bigdiv">
        <nav>
            <h2 class="logo"><a href="/">BitsLab<a></h2>
            <ul>
                <li><a href="/probleme">Probleme</a></li>
                <li><a href="#">Concursuri</a></li>
                <li><a href="/sign_up">Sign Up</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </nav>
        <div class="wrapper">
            <form name="Login_user" action="/Login_user" method="POST">
                <h1>Login</h1>
                <div class="input-box" id="user">
                    <input name="username" type="text" placeholder="Username" required>
                    <i class='bx bxs-user'></i>
                </div>
                <div class="input-box" id="pass">
                    <input name="password" type="password" placeholder="Password" required>
                    <i class='bx bxs-lock-alt'></i>
                </div>
                <div class="remember-forgot">
                    <label for="checkbox"><input id="checkbox" type="checkbox">Remember me
                    </label>
                    <a href="#">Forgot password?</a>
                </div>
                <button type="submit" class="btn" value="submit">Login</button>
                {{if .Error}}
                <div id="error-box">
                    <p>{{.Error}}</p>
                </div>
                {{end}}
                <div class="register-link">
                    <p>Don't have an account? <a href="/sign_up">
                            Register</a></p>
                </div>
            </form>
        </div>
    </div>
</body>

</html>